./aliases
.android/
.gsd-keyboard.settings-ported
/.zshrc-custom
/aliases
1Password/
BraveSoftware/
GIMP/
GNOME-xdg-terminals.list
JetBrains/
Thunar/
autostart/
chromium/
cni/
composer/
containers/
dconf/
dotfiles/
enchant/
evolution/
fish/
gnome-initial-setup-done
go/
google-chrome-beta/
google-chrome-unstable/
google-chrome/
gtk-2.0/
gtk-3.0/
htop/
i3-resurrect/
i3/workspace-1.json
ibus/
iterm2/
jgit/
joplin-desktop/
mc/panels.ini
microsoft-edge-dev/
mimeapps.list
nitrogen/
nvim.bak
nvim.old/
nvim/
pavucontrol.ini
peaclock/
psysh/
pulse/
raycast/
rclone/
resources/generic/tmux.sh
setup-aliases.sh
systemd/
tiling-assistant/
tmux/plugins/
ubuntu-xdg-terminals.list
ulauncher/
user-dirs.dirs
user-dirs.locale
viewnior/
vivaldi-snapshot/
vivaldi/
xdg-terminals.list
xfce4/
Epic/
OpenRGB/
Unreal Engine/
btop/btop.log
discord/
heroic/
lact/
spotify/
sunshine/
vlc/
AmuletMapEditor/
Android Open Source Project/
Blockbench/
Google/
Joplin/
Qt/
QtProject.conf
QtProject/
awakened-poe-trade/
blender/
clangd/
gammastep/
kcalcrc
kdeconnect/
lazydocker/
mcaselector/
menus/
opendeck/
solaar/
spotify-player/
sqlitebrowser/
sway/workspace*
