.android/
composer/
containers/
iterm2/
jgit/
joplin-desktop/
./aliases
cni/
go/
htop/
nvim.old/
rclone/
setup-aliases.sh
tmux/plugins/
raycast/
psysh/
fish/
nvim/
.gsd-keyboard.settings-ported
/.zshrc-custom
1Password/
BraveSoftware/
GNOME-xdg-terminals.list
JetBrains/
/aliases
autostart/
chromium/
dconf/
enchant/
evolution/
gnome-initial-setup-done
google-chrome-beta/
google-chrome-unstable/
google-chrome/
gtk-3.0/
i3-resurrect/
ibus/
mc/panels.ini
microsoft-edge-dev/
pavucontrol.ini
pulse/
resources/generic/tmux.sh
systemd/
tiling-assistant/
ubuntu-xdg-terminals.list
ulauncher/
user-dirs.dirs
user-dirs.locale
vivaldi-snapshot/
vivaldi/
xdg-terminals.list
