# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Mathijs Futselaar
	email = mathijs@matttt.nl
	name = Mathijs Futselaar

[push]
	autoSetupRemote = true
